{
    "contact": [
      {
        "name": "Sonu Kumar",
        "mobile": "9590960483",
        "phone":"949034324",
        "email": "sonukomar@gmail.com",
        "price":"48000"
		  },
      {
        "name": "Ritika Singh",
        "mobile": "1243214324",
        "phone":"3432434240",
        "email": "ritika.singh@mindtree.com",
        "price":"48000"
      },
      {
        "name": "Chandan Singh",
        "mobile": "454354543545",
        "phone":"45435435435",
        "email": "chandan.singh@mindtree.com",
        "price":"48000"
      },
      {
        "name": "Vivek Kumar",
        "mobile": "3432432424",
        "phone":"34324324224332",
        "email": "vivek.kumar@mindtree.com",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      },
      {
        "name": "Nokia N82",
        "mobile": "24000",
        "phone":"10",
        "email": "2",
        "price":"48000"
      }



]
}
